Sie erhalten hiermit die Bestätigung der Zahlung von<br/>
der Kaution mit der Buchungsnummer {{book.id}} <br/>
im Wert von {{curr.format(book.prepayment,{code:"EUR"})}} <br/>
<br/>
Mit freundlichen Grüßen<br/>
<b>Ihr PSC-Team</b><br/>
<br/>
<img src="https://premium-sport-cars.de/wp-content/themes/psc/assets/img/logo-big.png" alt="PSC" class="Apple-web-attachment Singleton" style="width: 1.7604in; height: 0.6354in; opacity: 1;" />

<p><strong>Premium Sport-Cars GmbH</strong></p>
<p>Ludwig-Erhard-Str. 8 | 28197 Bremen</p>
<p>Tel: +49 421 59 66 10 40</p>
<p>Fax:+49 421 59 70 93 32<br />
  <a href="https://www.premium-sport-cars.de">www.premium-sport-cars.de</a>
</p>
<p>&nbsp;&nbsp;</p>
<p>Folgt uns:</p>
<p>
  <a href="https://www.instagram.com/premiumsportcars"><img src="https://premium-sport-cars.de/wp-content/uploads/2020/06/image002.png" alt="image002.png" border="0" class="Apple-web-attachment Singleton" style="width: 0.2708in; height: 0.2708in; opacity: 1;" /></a>&nbsp;&nbsp; 
  <a href="https://www.facebook.com/premiumsportscars"><img src="https://premium-sport-cars.de/wp-content/uploads/2020/06/image003.png" alt="image003.png" border="0" class="Apple-web-attachment Singleton" style="width: 0.2812in; height: 0.2812in; opacity: 1;" /></a>
</p>