
@layout('Layout/admin')


@section('body')

<div class="container-fluid mt-5">

    <!-- 404 Error Text -->
    <div class="text-center">
      <div class="error mx-auto" data-text="404">404</div>
      <p class="lead text-gray-800 mb-5">NICHT GEFUNDEN</p>
      <p class="text-gray-500 mb-0">Die angegebene URL wurde auf diesem Server nicht gefunden.</p>
      <a href="/">← Zurück zur Startseite</a>
    </div>

  </div>
@endsection