@media ( min-width: 768px ) {
  .grid-divider {
    position: relative;
    padding: 0;
  }
}

@media ( min-width: 768px ) {
  .grid-divider > [class*='col-'] {
    position: static;
  }
}

@media ( min-width: 768px ) {
  .grid-divider > [class*='col-']:nth-child(n + 2):before {
    content: "";
    border-left: 1px solid #eeeded;
    position: absolute;
    top: 0;
    bottom: 0;
  }
}

@media ( min-width: 768px ) {
  .col-padding {
    padding: 0 15px;
  }
}

