<!DOCTYPE html>
<html lang="en">

<head>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '3538333769513312');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=3538333769513312&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  @section('SEO')
  <title>{{title ? title : 'Premium Sport Cars'}}</title>
  @endsection

  <script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>
  {{ style('/vendor/glightbox/css/glightbox.min') }}
  {{ style('/vendor/magnific/magnific-popup') }}
  {{ style('/assets/bootstrap/css/bootstrap.min.css') }}
  {{ style('https://fonts.googleapis.com/css?family=Nunito+Sans:400,600') }}
  {{ style('/assets/fonts/font-awesome.min.css') }}
  {{ style('/assets/fonts/ionicons.min.css') }}
  {{ style('/assets/css/Bold-BS4-Footer-Big-Logo.css') }}
  {{ style('/assets/css/Brands.css') }}
  {{ style('/vendor/fontawesome-free/css/all.min.css') }}
  {{ style('/assets/css/Carousel-Hero.css') }}
  {{ style('/assets/css/Date-Picker-From-and-To.css') }}
  {{ style('/assets/css/Footer-Clean.css') }}
  {{ style('/assets/css/Footer-Dark.css') }}
  {{ style('/assets/css/griddivider.css') }}
  {{ style('/assets/css/Highlight-Phone.css') }}
  {{ style('/assets/css/Studious-selectbox.css') }}
  {{ style('/vendor/OwlCarousel/assets/owl.carousel.css')}}
  {{ style('/assets/css/styles.css') }}
  {{ style('/css/custom.css') }}


  @!section('CSS')

</head>

<body class="
    @!section('bodyClass')
">



      <div class=" p-3" style="background-color:#f4f4f4;padding:0.5rem !important">

        <div class=" text-center text-sm-right container">
          
          <small>
            <!-- <a class="text-dark" href="#"><img height="12" src="/assets/img/custom-icon/whatsapp-icon.png" /> +49 421 59
              66 10 40</a> | -->
            <a class="text-dark" href="tel:004942159661040"><img height="12" src="/assets/img/custom-icon/telefon-icon.png" /> +49 421 59
              66
              10 40</a> |
            <a class="text-dark" href="mailto:info@premium-sport-cars.de"><img height="12" src="/assets/img/custom-icon/email-icon.png" />
              info@premium-sport-cars.de</a>
          </small>
          
        </div>
        
      </div>
      <nav
      class="navbar navbar-light navbar-expand-md sticky-top shadow-sm navigation-clean-search headermenu bg-light" id="mainnav">
      <div class="container">
        <a class="navbar-brand pl-2 pl-sm-0 " style="float:left" href="/"><img src="/assets/img/logo-big.png" height="60px"></a>
        <button onclick="jQuery('#mainnav').toggleClass('active')" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navcol-1" aria-controls="navbarCollapse" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navcol-1">
        <ul class="nav navbar-nav top ml-auto">
          <li class="nav-item"><a class="nav-link" href="/">Startseite</a></li>
          <li class="nav-item dropdown megamenu">
          <a class="nav-link dropdown-toggle " href="/fahrzeuge" id="furhparkMenu" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Fuhrpark</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <h6 class="dropdown-header">Mietwagen</h6>
            <a class="dropdown-item" href="/fahrzeuge">Sport- & Luxusfahrzeuge</a>
			   <a class="dropdown-item" href="/oldtimer">Oldtimer</a>
            <a class="dropdown-item" href="https://premium-sport-cars.de/pakete-und-preise">Pakete und Preise</a>
          </div>
          <div style="margin-top: 0px;   " class="d-none d-md-block dropdown-menu p-0 shadow-sm bg-light"
            aria-labelledby="transportMenu">
            <div class="container py-4">
            <div class="row mb-4 ">
              <div class="col-4">
              <h3 class="remove-text-transform">Mietwagen</h3>
              
              <div>
                <a href="/fahrzeuge" class="btn btn-link pl-0 btn-menu-sub">Sport- & Luxusfahrzeuge <span
                  class="iconify ml-3" style="height: 0.7em;" data-icon="simple-line-icons:arrow-right"
                  data-inline="false"></span></a>
              </div>
			      <div>
                <a href="/oldtimer" class="btn btn-link pl-0 btn-menu-sub">Oldtimer <span
                  class="iconify ml-3" style="height: 0.7em;" data-icon="simple-line-icons:arrow-right"
                  data-inline="false"></span></a>
              </div>
              <div>
                <a href="https://premium-sport-cars.de/pakete-und-preise"
                class="btn btn-link pl-0 btn-menu-sub">Pakete und Preise <span style="height: 0.7em;"
                  class="iconify ml-3" data-icon="simple-line-icons:arrow-right"
                  data-inline="false"></span></a>
              </div>
  
              </div>
              
              @each(item in gcars)
              <div class="col-2 text-center gradientborder">
                <div class=" pl-2 pr-2">
                  <h4 class="mt-0" style="font-size:17px;text-align:left;font-weight:bold;text-transform:none">{{{item.title}}}</h4>
                  <img height="90" src="/uploads/{{item.mainimg.id}}.{{item.mainimg.location}}" /><br />
                  <a href="/fahrzeuge/{{item.id}}" class="btn btn-danger-reverse btn-danger btn-block btn-sm mt-2 " style="font-size:12px;padding: 0.75rem 2rem;">Buchen</a>
                </div>
              </div>
              @endeach
            </div>
            </div>
          </div>
          </li>
		  
		            <li class="nav-item"><a class="nav-link" href="/oldtimer">Oldtimer</a></li>

		  
          <li class="nav-item dropdown megamenu">
          <a class="nav-link dropdown-toggle " href="#" id="giftMenu" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Erlebnisse</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <h6 class="dropdown-header">Events</h6>
            <a class="dropdown-item" href="https://premium-sport-cars.de/sportwagentour">Sportwagentour</a>
            <a class="dropdown-item" href="https://premium-sport-cars.de/firmenevents">Firmenevents</a>
            <h6 class="dropdown-header">Anlässe</h6>
            <a class="dropdown-item" href="https://premium-sport-cars.de/hochzeit">Hochzeitsauto</a>
            <a class="dropdown-item" href="https://premium-sport-cars.de/fotoshooting">Fotoshooting</a>
            <a class="dropdown-item" href="https://premium-sport-cars.de/video">Videodreh</a>
          </div>
          <div style="margin-top: 0px;   " class="d-none d-md-block dropdown-menu p-0 shadow-sm bg-light"
            aria-labelledby="transportMenu">
            <div class="container py-4">
            <div class="row">
    
              <div class="col-6">
              <h3 class="remove-text-transform">Events</h3>
              <div><a href="https://premium-sport-cars.de/sportwagentour"
                  class="btn btn-link pl-0 btn-menu-sub">Sportwagentour <span class="iconify ml-3"
                  style="height: 0.7em;" data-icon="simple-line-icons:arrow-right"
                  data-inline="false"></span></a></div>
              <div><a href="https://premium-sport-cars.de/firmenevents"
                class="btn btn-link pl-0 btn-menu-sub">Firmenevents <span style="height: 0.7em;"
                  class="iconify ml-3" data-icon="simple-line-icons:arrow-right"
                  data-inline="false"></span></a>
              </div>
              </div>
              <div class="col-6">
              <h3 class="remove-text-transform">Anlässe</h3>
              <div><a href="https://premium-sport-cars.de/hochzeit"
                class="btn btn-link pl-0 btn-menu-sub">Hochzeitsauto <span class="iconify ml-3"
                  style="height: 0.7em;" data-icon="simple-line-icons:arrow-right"
                  data-inline="false"></span></a></div>
              <div><a href="https://premium-sport-cars.de/fotoshooting"
                class="btn btn-link pl-0 btn-menu-sub">Fotoshooting <span style="height: 0.7em;"
                  class="iconify ml-3" data-icon="simple-line-icons:arrow-right"
                  data-inline="false"></span></a>
              </div>
              <div><a href="https://premium-sport-cars.de/video"
                class="btn btn-link pl-0 btn-menu-sub">Videodreh <span style="height: 0.7em;"
                  class="iconify ml-3" data-icon="simple-line-icons:arrow-right"
                  data-inline="false"></span></a>
              </div>
              </div>
            </div>
            </div>
          </div>
          </li>
		  
		            <li class="nav-item"><a class="nav-link" href="https://premium-sport-cars.de/shop">Shop</a></li>

		  
          <li class="nav-item dropdown megamenu">
          <a class="nav-link dropdown-toggle " href="#" id="transportMenu" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Service</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <h6 class="dropdown-header">Bring-&Abholservice</h6>
            <a class="dropdown-item" href="https://premium-sport-cars.de/transportservice">Transportservice</a>
            <a class="dropdown-item" href="https://premium-sport-cars.de/shuttleservice">Shuttleservice</a>
            <h6 class="dropdown-header">Information</h6>
            <a class="dropdown-item" href="https://premium-sport-cars.de/wichtig">Wichtig</a>
          </div>
          <div style="margin-top: 0px;" class="d-none d-md-block dropdown-menu p-0 shadow-sm bg-light"
            aria-labelledby="transportMenu">
            <div class="container py-4">
            <div class="row">
    
    
              <div class="col-4">
                <h3 class="remove-text-transform">Bring-&Abholservice</h3>
                <div><a href="https://premium-sport-cars.de/transportservice"
                  class="btn btn-link pl-0 btn-menu-sub">Transportservice <span class="iconify ml-3"
                    style="height: 0.7em;" data-icon="simple-line-icons:arrow-right"
                    data-inline="false"></span></a></div>
                <div><a href="https://premium-sport-cars.de/shuttleservice"
                  class="btn btn-link pl-0 btn-menu-sub">Shuttleservice <span class="iconify ml-3"
                    style="height: 0.7em;" data-icon="simple-line-icons:arrow-right"
                    data-inline="false"></span></a></div>
                </div>
                <div class="col-4">
                <h3 class="remove-text-transform">Service</h3>
                <div><a href="https://premium-sport-cars.de/fahrzeugaufbereitung"
                  class="btn btn-link pl-0 btn-menu-sub">Fahrzeugaufbereitung <span class="iconify ml-3"
                    style="height: 0.7em;" data-icon="simple-line-icons:arrow-right"
                    data-inline="false"></span></a></div>
                </div>
                <div class="col-4">
                <h3 class="remove-text-transform">Information</h3>
                <div><a href="https://premium-sport-cars.de/wichtig"
                  class="btn btn-link pl-0 btn-menu-sub">Wichtig <span class="iconify ml-3"
                    style="height: 0.7em;" data-icon="simple-line-icons:arrow-right"
                    data-inline="false"></span></a></div>
                </div>
              <div class="col-6">
              <h3 class="remove-text-transform">&nbsp;</h3>
              </div>
            </div>
            </div>
          </div>
          </li>
          <li class="nav-item"><a class="nav-link" href="https://premium-sport-cars.de/faq">FAQ</a></li>
        </ul>
        </div>
        <ul class="stretchmemobile nav navbar-nav d-xl-flex ml-auto align-items-xl-start top d-sm-none d-md-block"
        style="/*position: relative;*/">
        <li style="border-bottom: 3px solid #343a40" class="nav-item bg-info text-white mr-0 "><a
          class=" nav-link bg-dark text-white" href="https://premium-sport-cars.de/kontakt">Kontakt</a></li>
        </ul>
      </div>
      </nav>